
.title{

font-family: 'Montserrat', sans-serif;
color: #ff5c5c;
font-size: 40px !important;
text-shadow: 1px 1px 2px #000000;

}
.sub-title
{
 font-family: 'Montserrat', sans-serif;
 color: #161e67;
 font-size: 35px !important;
 margin-top: -25px;
 text-shadow: 1px 1px 2px #ff5c5c;
}
.product-title
{
  font-family: 'Montserrat', sans-serif;
  color: #ff5c5c;
  font-size: 22px;
  margin-top: 15px;
  font-weight:600; 
  text-shadow: 1px 1px 2px #ff5c5c;
}
.separator
{
	height: 1px;
	width: 200px;
	float: left;
	background-color: #cccccc;
	margin-bottom: 5px;
}

/* Carousel */
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -80px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #161e67;
    width: 30px;
    height: 5px;
}

.blog .carousel-indicators .active {
background: #ff5c5c;
}
/* End */

.btn-primary
{
	background-color: #161e67;
	border-radius: 35px;
	border-style: none;
}
.btn-primary:hover
{
	background-color: #ff5c5c;
	border-radius: 35px;
	border-style: none;
}

/* About */

.about
{
  background-color: #161e67;
  margin-top: -40px;
}
.whitetext
{
	color: #ffffff;
}
.bg-3
{
	background-color: #ff5c5c;
}
.bluetext
{
	text-align: center;
	color: #161e67;
	
}

/* Product Page */
#modal-button {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 12px 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 4px 8px 4px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
    background: #F2F2F2;
  }
  #modal-button:hover {
    background: #E96B56;
    color: #fff;
  }

  #portfolio{

  	margin-top: 80px;
  }

/* Testimonials Carousel */
.card {
  margin: 0 auto;
}
.card .carousel-item {
  height: 200px;
}
.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}
.card .carousel-caption h3 {
  color: #3d3d3d;
}
.card .carousel-caption p {
  line-height: 30px;
}
.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.card .carousel-caption .col-sm-9 {
  text-align: left;
}
.navi a {
    text-decoration:none;
}
a > .ico {
    background-color: #ff5c5c;
    padding: 10px;
    
}
a:hover > .ico {
    background-color: #161e67;
}
.testimonials-title
{
  font-family: 'Montserrat', sans-serif;
  color: #161e67 !important;
  font-size: 30px;
  font-weight: 600;
}
.icofont-quote-left
{
  color: #161e67 !important;
  font-size: 18px;
}
.icofont-quote-right
{
  color: #161e67 !important;
  font-size: 18px;
}
.text-box
{
  margin-top: -20px !important;
  margin-bottom: -20px !important;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15) !important;
}
.rounded-circle
{
  border: 5px solid #ff5c5c;
}
/* End Testimonials Carousel */
#services
{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#testimonials
{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Products Page */
.btn-primary
{
  background-color: #ff5c5c !important;
  color: white !important;
}
.btn-primary:hover
{
  background-color: #E96B56;
  background: rgb(255, 92, 92, 0.6);
}

/* Media Queries */

@media (max-width: 575px){

.text-box
{
  height: auto !important;
}
.rounded-circle {
    border: 5px solid #ff5c5c;
    height: 150px;
    width: 150px;
    margin-top: -200px;
   
}
.w-100 {
    padding-top: 200px;
    width: 100%!important;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: -50px;
}



